*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 191, 128);
}
.nav-bar{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
hr{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 0, 34);
    margin-bottom: 40px;
}
.box{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    
}
.card{
    width: 25%;
    height: 90%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    gap: 10px;
}
.card > img {
    width: 100%;
    height: 40%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card > h1 {
    margin-top: 10px;
}
.card > p{
    width: 90%;
    margin-top: 10px;
    font-size: 1.2rem;
}
.action{
    display: flex;
    width: 100%;
    height: 13%;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}
.action-btn{
    height: 100%;
    width: 25%;
    font-size: 1.2em;
    font-weight: 500;
    border:  none;
    background-color: blue;
    border-radius: 10%;
}
.action-btn >a{
    text-decoration: none;
    color: #fff;
}
.sc{
    width: 45%;
}
.d-1024{
    display: block;
}
.l-768{
    display: none;
}
.m-425{
    display: none;
}
.ld-2560{
    display: none;
}


@media screen and (min-width:2560px){

.container{
    width: 100vw;
    height: 100vh;
}
.box{
    width: 100%;
    height:70%;
}
.nav-bar{
    font-size: 6em;
}
.card{
   width:35%;
   height: 50%;
   font-size: 2.5em !important;
   display: flex;
   gap: 5%;
}
.d-1024{
    display: none;
}
.ld-2560{
    display: block;
}
.card >p{
    font-size: 1.4em;
}

}


@media screen and (min-width:1440px){
 
    .card{
        width: 25%;
        height: 90%;
        display: flex;
        gap: 1%;
        font-size: 1.2em;
    }
    .card >p{
        font-size: 1em;
    }
    .d-1024{
        display: block;
    }
    .ld-2560{
        display: none;
    }


}


@media screen and (max-width:768px){

    .nav-bar{
        font-size: 2em;
    }
.card{
    width: 40%;
    display: flex;
    gap: 0.5%;
}
.ld-2560{
    display: none;
}
.l-768{
    display: block;
}
.d-1024{
    display: none;
}
}


 @media screen and (max-width:426px){
   .container{
    width: 100vw;
    height: 100vh;
    overflow: auto;
   }
  .nav-bar{
    font-size: 1.5em;
  }
  .box{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    height: 80%;
}
  .card{
    width: 90%;
    height: 100%;
    display: flex;
  } 
  .m-425{
    display: block;
  }
  .l-768{
    display:none ;
  }
.card img{
    height: 50%;
}
.action{
    height: 10%;
    width: 80%;
    .action-btn{
        font-size: 1em;
    }
}
} 