*{
    padding: 0;
    margin: 0;  
}
body{
    background-image: url(./img/images\ \(1\).jfif);
     backdrop-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center ;
    
}
.para{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    font-size: 4em ;
    align-items: center;
    color: #fff;
}
.display{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    padding-top: 40px ;
    /* background-color: bisque; */

}
.display > input {
    width: 90%;
    height: 70%;
    font-size: 4em;
    padding:20px , 0 ;
    cursor:default;
    border: none;
    border-radius: 10px;
}
.display > input{
   text-align: right;
}
.main{
    width: 20% ;
    height: 75% !important;
    background-color: rgba(0, 0, 0, 0.645);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: -20px -20px 10px rgba(0, 0, 255, 0.668);
   border: none;
}
.button-t{
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    gap:  8%;
    /* background-color: cadetblue; */
    align-items: center;
}
.button-t > button{
   width: 15%;
   height: 60% !important;
   margin-top: 0px;
   font-size: 1.2em;
   border-radius: 15%;
    cursor: pointer;
    color: #ffffffa7;
    border: none;
}
.btn-equals{
    width: 38% !important;
}
.btn-colour{
    background-color: darkgoldenrod;
}
.btn-colour-2{
    background-color: grey;
}
.btn-colour-3{
    background-color: rgba(128, 128, 128, 0.722);
   backdrop-filter: blur(8px);
}
.button-t > button:hover{
    box-shadow: -5px -5px 10px rgba(128, 255, 0, 0.688);
}
#font {
    font-size: 0.9em;
}


@media screen and (min-width: 1440px) and (max-width: 2560px){
     
    .container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        width: 40%;
        height: 75%;
    }
    .display > input {
        margin-top: ;
    }
    .button-t > button {
        height: 85%;
        font-size: 4em;
    }
    .para{
        font-size: 11em;
    }



}

@media screen and (min-width:1024px) and (min-width: 1440px){
     
    .container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        width: 25%;
        height: 90%;
        
    }
    .para{
        font-size: 5em;
      }

    .button-t > button{
        height: 60%;
        font-size: 2em;
    }  
    .display{
    }
    .display > input{
    }
}


@media screen and (min-width: 768px) and ( max-width: 1024px) {
   
     .container{
        width: 100vw;
        height: 100vh;
     }
     .main {
       width: 15 ;
       height: 70%;
     }
     .display{
        width: 100%;
        height: 20%;
     }
     .button-t > button {
        font-size: 2em;
     }
}
 

@media screen and (min-width:425px ) and (max-width: 768px){
    
    .container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        width: 50%;
    }
    .para{
        font-size: 3em;
    }


}

@media screen and (min-width: 375px) and (max-width: 425px){

    .container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        width: 70%;
        height: 100% !important;
    }
    .para{
        font-size: 2em;
    }

}


@media screen and (min-width: 320px) and (max-width: 375px){
     
    .container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        width: 90%;
        height: 100%;
        box-shadow: none;
    }
    .para{
        font-size: 2.5em;
        height: 10%;
    }
    button{
        font-size: 1em;
    }

}

@media screen and (min-width: 0px)and (max-width: 319px){
    .container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        width: 100vw;
        background-color: aqua;
        display: flex;
        flex-wrap:nowrap ;
    }
}