body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.container{
    background-color: rgb(239, 239, 252);
    width: 100lvw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content{
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: baseline;
    width: 50%;
}
.content >img{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.main{
    width: 70%;
    height: 350px;
    background-color:rgb(247, 251, 255) ;
    display: flex;
    /* justify-content: center; */
    border-radius: 30px;
    word-spacing: 3px;
}
.text{
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
}
.input-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    margin-right: 30px;
}
.input-form >  ::placeholder{
    font-size: 17px;
    padding-left: 10px;
}
.input-form >input{
    background-color: transparent;
    width: 80%;
    height: 30px;
    padding: 10px;
    font-size: 17px;
}
.input-form >button{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    color: #ffff;
    background-color: rgb(0, 0, 248);
    border-radius: 20px;
    font-size: medium;
    border: none;
}
.input-form >button:hover{
    background-color: rgb(45, 80, 236);
}
.links-content{
    display: flex;
    width: 69%;
    justify-content: space-between;
    padding-top: 15px; 
}
.left{
    display: flex;
     gap: 20px;
}
.left >a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
}
.select{
    background-color: transparent;
    height: 25px;
    border: none;
    font-size: 13px;
}
.select:hover{
    background-color: rgba(211, 211, 214, 0.315);
    height: 30px;
    width: 30px;
}


@media screen and (min-width:601px)and (max-width: 768px){
    .main{
    background-color: rgb(247, 251, 255);
       display: flex;
       width: 100%;
       height: 100%;
       border-radius: 0px;
    }
    .content{
        height: 50%;
        padding-top: 10px;
    }
    .input-form{
        display: flex;
        justify-content: start;
        padding-top: 70px;
    }
    .links-content{
         width: 100%;
         display: flex;
         flex-wrap: nowrap;
         background-color:rgb(247, 251, 255) ;
    }
}

@media screen  and (max-width:426px){ 
    .main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0px !important ;
    background-color: rgb(247, 251, 255);
 }
 .content{
    width: 90%;
    height: 50%;
    padding-top: 30px;
 }
 .input-form{
    width: 90%;
    height: 50%;
 }
 .links-content{
    display: flex;
    width: 100vw;
    background-color: rgb(247, 251, 255);
 }
}
    
@media screen  and (max-width: 376px) {
    
    .main{
    background-color:rgb(247, 251, 255) ;
    display: flex;
    flex-direction: column;
    width: 100% ;
    height:100% ;
    border-radius: 0px;
    
    
 }
 .content{
    width: 90%;

 }
 .input-form{
    width: 90%;
    height: 100%;
    
 }
 .input-form > input{

 }
 .links-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 251, 255);
    width: 100%;
    gap: 30px;
    padding-left: 50px;
 }
}